<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chart Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Pricing-Tables.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body style="height: 1000px;">
	<nav class="navbar navbar-light navbar-expand-md">
		<div class="container-fluid">
			<b class="navbar-brand">
				<span th:text="${lop.getLop_name()}"></span>
				-				
				<span th:text="${monhoc.getMonHoc_name()}"></span>
			</b>
	        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
				<span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" th:href="${session.linkhome}">Quay lại trang chủ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="margin: auto ; width: 80%; margin-top: 48px; ">
        <canvas id="myChart" style="margin: auto ; height: 80%;"></canvas>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var ctx = document.getElementById('myChart').getContext('2d');
        var data = /*[[${data}]]*/ [];

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['0 - 1', '1.1 - 2', '2.1 - 3', '3.1 - 4', '4.1 - 5', '5.1 - 6', '6.1 - 7', '7.1 - 8', '8.1 - 9', '9.1 - 10'],
                datasets: [{
                    label: 'Số học sinh',
                    data: data,
                    backgroundColor: 'rgba(0, 123, 255, 0.2)', // Màu nền xanh đậm
		            borderColor: '#007bff', // Màu viền xanh đậm
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        /*]]>*/
    </script>
</body>
</html>
